.main {
    margin: auto;
}

h1{
    margin-left: 575px;
    margin-right: 500px;
    display: inline-block;
}
.p1, .p2 {
    text-align: justify;
    border: 2px solid #000; 
    padding: 50px; 
    margin: 20px 200px 60px 200px;
    border-radius: 25px;
    justify-content: center;
}

.p1{
    background-color: #f6eeeb;
    border: 8px solid #53c9e7;
}

.p2{
    color: white;
    background-color: #212526;
    border: 8px solid #f14472;
}
