body {
    background-color: #F6EEEB;
}

.teams_row {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    text-align: center;
    border: 2px solid black;
    border-radius: 5vh; /* Using viewport width for border-radius */
    width: 90%; /* Using percentage for width */
    max-width: 460px;
    height: fit-content;
    justify-content: center;
    margin: 5vh; /* Using viewport width for margin */
    box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card .name {
    font-size: 2.5vh; /* Using viewport width for font size */
    background-color: #F0F0F0;
    border-radius: 2vh; /* Using viewport width for border-radius */
    width: 100%; /* Using percentage for width */
    padding: 2vh 5vh; /* Using viewport width for padding */
    font-weight: 900;
    justify-content: center;
}

.card .info {
    border-radius: 2vh; /* Using viewport width for border-radius */
    font-size: 2vh; /* Using viewport width for font size */
    text-align: left;
    padding: 2vh;
    margin: 5vh; /* Using viewport width for margin */
    width: 90%; /* Using percentage for width */
}

.card .info span b {
    font-size: 2.5vh; /* Using viewport width for font size */
}

@media screen and (min-width: 768px) {
    .card {
        width: 45%;
        margin: 2.5%;
    }
}

@media screen and (min-width: 1200px) {
    .card {
        width: 30%;
        margin: 2.5%;
    }
}
