/* =========== Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
/* =========== Browser Reset ============ */
:root {
  /* Color Variables */
  --primary: #ffc400;
  --text-1: #0f2341;
  --text-2: #a9a9a9;
  --white: #fff;
  --shadow-300: 0 5px 5px rgba(0, 0, 0, 0.3);
  --shadow-500: 0 5px 5px rgba(0, 0, 0, 0.5);
  --transition-300: all 300ms ease-in-out;
  --transition-500: all 500ms ease-in-out;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* font-size: 62.5%; */
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: var(--white);
  color: var(--text-1);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: var(--text-1);
}

p {
  color: var(--text-2);
  line-height: 1.5;
}
/* 
img,
video {
  width: 100%;
  height: 100%;
}
 */
/* =========== Custom Classes ============ */
.d-flex {
  display: flex;
  align-items: center;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

.section {
  margin: 5rem 0;
  padding: 10rem 0 5rem;
  overflow: hidden;
}

.title {
  margin-bottom: 2rem;
}

.title h1 {
  font-size: 4rem;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }
}

@media (max-width: 567px) {
  .title h1 {
    font-size: 3rem;
  }

  .section {
    margin: 5rem 0;
    padding: 5rem 0 0;
  }
}

/* =========== Navigation ============ */

.header {
  position: relative;
  width: 100%;
  min-height: 100vh;
  z-index: 0;
}

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999999;
  padding: 1rem 0;
}

.nav {
  max-width: 996px;
  margin: 0 auto;
  padding: 0 2rem;
  justify-content: space-between;
}

.logo img {
  width: 7rem;
  height: 7rem;
}

.nav-item:not(:last-child) {
  margin-right: 0.5rem;
}

.nav-link {
  display: inline-block;
  padding: 1rem;
  color: var(--white);
}

.btn {
  display: inline-block;
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 500;
  background-color: var(--primary);
  padding: 1.5rem 2.5rem;
  transition: var(--transition-300);
}

.btn:hover {
  border-color: var(--primary);
  box-shadow: var(--shadow-500);
  transform: translateY(-3px);
}

.btn:active {
  transform: translateY(0);
}

.btn.sign-up {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background-color: transparent;
  border: 1px solid #fff;
  transition: var(--transition-300);
}

.btn.sign-up:hover {
  background-color: var(--primary);
  border-color: var(--primary);
}

.hamburger {
  display: none;
  font-size: 3rem;
  color: var(--white);
  cursor: pointer;
}

.navigation.fix {
  position: fixed;
  background-color: var(--text-1);
}

@media (max-width: 768px) {
  .btn.sign-up {
    display: none;
  }

  .nav-list {
    position: fixed;
    top: 0;
    left: -100%;
    width: 0;
    height: 100%;
    max-width: 80%;
    padding: 3rem 0;
    background-color: white;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: var(--shadow-300);
    transition: var(--transition-500);
  }

  .nav-list.open {
    left: 0;
    width: 100%;
  }

  .nav-list .nav-item {
    margin: 0 0 1rem;
  }

  .nav-list .nav-link {
    font-size: 2rem;
    padding: 1rem;
    color: var(--text-1);
    font-weight: 500;
  }

  .hamburger {
    display: flex;
  }

  .logo img {
    width: 5rem;
    height: 5rem;
  }
}

/* =========== Preloader ============ */

.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
  background-color: var(--white);
}

.loader img {
  width: 34rem;
  height: 20rem;
}

.partners-message {
  position: relative;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  overflow: hidden;
}

.partners-message .background-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(2px);
  z-index: -1;
}

.partners-message .content {
  position: relative;
  z-index: 2;
}

.partners-message h1 {
  font-size: 5rem;
  margin: 0;
  background: -webkit-linear-gradient(to right, #303841, #303841);
  background: linear-gradient(to right, #303841, #303841);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.main-partner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-partner-content {
  flex: 1;
}

.main-partner-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.main-partner-img {
  max-width: 100%;
  height: auto;
  /* Set a max-height if necessary */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .main-partner-container {
    flex-direction: column;
  }

  .main-partner-image {
    order: -1; /* Image above the text on smaller screens */
    justify-content: center;
    margin-bottom: 20px;
  }

  .main-partner-img {
    max-width: 80%; /* Adjust size on smaller screens */
  }
}

/* Base styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Section base styles */
.section {
  padding: 40px 0;
  background: #f9f9f9; /* Change as needed */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title h1,
.title h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px; /* Adjust the negative margin to match the padding of the columns */
  margin-left: -15px;
}

.col {
  padding-right: 15px; /* Half of the spacing between columns */
  padding-left: 15px; /* Half of the spacing between columns */
  flex: 0 0 25%; /* Adjust the width for 4 items per row */
  max-width: 25%;
  margin-bottom: 30px; /* Space between rows */
}

.col img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px; /* Space between image and text */
}

.image-description {
  margin-bottom: 15px; /* Space between text and button */
  color: #333; /* Text color */
}

.btn-p {
  padding: 10px 20px;
  border: none;
  outline: none;
  color: black;
  background-image: linear-gradient(to right, #f04b36, #faa63f);
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
}

/* Responsive adjustments */
@media (max-width: 992px) {
  .col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 768px) {
  .col {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
